body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #666;
}

.calculatorContainer{
    padding: 20px;
    width: 400px;
    background-color: #222;
    border-radius: 20px;
}

.display{
    padding: 10px 20px;
    font-size: 2rem;
    margin-bottom: 15px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    color: lime;
    border-radius: 10px;
}

.history{
    font-size: 1.5rem;
    height: 30px;
    text-align: left;
}

.result{
    font-size: 2rem;
    text-align: right;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn{
    flex: 0 0 calc(25% - 8px);
    padding: 25px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-color: #333;
    color: white;
}

.btn:hover{
    background-color: #9146FF;
}

.doubleSize{
    flex: 0 0 calc(50% - 6px);
}